* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

.page-img {
    width: 50px;
    position: absolute;
    transform: translateX(-50%) translateY(-100%) rotateZ(13deg);
    animation-name: heart;
    animation-duration: 6s;
}

@keyframes heart {
 

    100% {
        transform: translateY(-5000%);
        filter: hue-rotate(720deg);
    }
}